<div class="navbar mb-2 shadow-lg bg-neutral text-neutral-content rounded-box">
  <div class="px-2 mx-2 navbar-start">
      <%= link_to "Private Events", root_path, class: "text-2xl font-bold" %>
  </div> 
  <div class="hidden px-2 mx-2 navbar-center lg:flex">
    <div class="flex items-stretch">
      <%= link_to "Create event", new_event_path, class: "btn btn-accent btn-sm rounded-btn ml-5" %>
      <%= link_to "Browse Events", events_path, class: "btn btn-neutral btn-sm rounded-btn" %>
      <%= link_to "Find Users", users_path, class: "btn btn-neutral btn-sm rounded-btn" %>
    </div>
  </div> 
  <div class="navbar-end">
      <% if logged_in? %>
        Logged in as: <%= current_user.name %>  
        <%= link_to "Log out", log_out_path, class: "btn btn-primary btn-sm rounded-btn" %>
      <% else %>
       <%= link_to "Create Account", new_user_path, class: "btn btn-secondary btn-outline btn-sm rounded-btn mr-5" %>
       <%= link_to "Sign In", log_in_path, class: "btn btn-primary btn-sm rounded-btn mr-5" %>
      <% end %>

  </div>
</div>

