<div class="my-10 mx-6 grid grid-cols-2 gap-6 auto-rows-auto grid-flow-col overflow-hidden">

  <div class="bg-gray-50 shadow-xl overflow-hidden ">
    <h1 class="text-center" >Upcoming Events</h1>

    <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
      <% @events.upcoming.each do |e| %> 

        <div class="max-w-xs rounded overflow-hidden shadow-lg my-2">
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Event: <%= e.id %></div>
            <p class="text-grey-darker text-base">
            <i>NAME: </i> <%= e.name %> <br>
            <i>LOCATION: </i> <%= e.location %> <br>
            <i>CREATOR: </i> <%= e.creator.name %>  <br>
            <i>SCHEDULE: </i> <%= e.schedule %>  <br>
            </p>
          </div>
          <div class="px-6 pt-4 pb-2">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"><%= link_to "Show", e %></span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"><%= link_to "Delete", e, method: :delete, data: { confirm: "Are you sure?" } %></span>
          </div>
        </div>

      <% end %>

    </div>
  </div>

  <div class="bg-gray-50 shadow-xl overflow-hidden">
    <h1 class="text-center" >Past Events</h1>

    <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
      <% @events.past.each do |e| %> 

        <div class="max-w-xs rounded overflow-hidden shadow-lg my-2">
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Event: <%= e.id %></div>
            <p class="text-grey-darker text-base">
            <i>NAME: </i> <%= e.name %> <br>
            <i>LOCATION: </i> <%= e.location %> <br>
            <i>CREATOR: </i> <%= e.creator.name %>  <br>
            <i>SCHEDULE: </i> <%= e.schedule %>  <br>
            </p>
          </div>
          <div class="px-6 pt-4 pb-2">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"><%= link_to "Show", e %></span>
            <% if logged_in? && e.creator.name == current_user.name  %>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"><%= link_to "Delete", e,  :method => :delete, :confirm => "Are you sure?"  %></span>
            <% end %>
          </div>
        </div>

      <% end %>

    </div>
  </div>

</div>

<!-- 
<div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">

<% @events.upcoming.each do |e| %> 
<h1>Upcoming Events</h1>
  <div class="max-w-xs rounded overflow-hidden shadow-lg my-2">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">Event: <%= e.id %></div>
      <p class="text-grey-darker text-base">
      <i>NAME: </i> <%= e.name %> <br>
      <i>LOCATION: </i> <%= e.location %> <br>
      <i>CREATOR: </i> <%= e.creator.name %>  <br>
      </p>
    </div>
    <div class="px-6 pt-4 pb-2">
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"><%= link_to "Show", e %></span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"><%= link_to "Delete", e, method: :delete, data: { confirm: "Are you sure?" } %></span>
    </div>
  </div>

<% end %>

</div>

-->