<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="font-sans flex flex-col text-center sm:flex-row sm:text-left sm:justify-between py-4 px-6 bg-white shadow sm:items-baseline w-full">
    <div class="mb-2 sm:mb-0">
      <%= link_to "Home", root_path, class: "text-2xl no-underline text-grey-darkest hover:text-blue-dark" %>
    </div>
    <div>
       <%= link_to "Sign Up", new_user_path, class: "text-lg no-underline text-grey-darkest hover:text-blue-dark ml-2" %>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
